<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Ebay: testing of search and filters" verbose="7">
  <test name="1.Filter by Category">
    <classes>
      <class name="com.example.tests.TestCategoryFilter"/>
    </classes>
  </test>
  <test name="2.Filter by Country">
    <classes>
      <class name="com.example.tests.TestCountryUSAFilter"/>
    </classes>
  </test>
  <test name="3.Filter by Delivery options">
    <classes>
      <class name="com.example.tests.TestFreeDeliveryFilter"/>
    </classes>
  </test>
  <test name="4.Filter by Sale options">
    <classes>
      <class name="com.example.tests.TestBuyNowFilter"/>
    </classes>
  </test>
  <test name="5.Filter by Price limits">
    <classes>
      <class name="com.example.tests.TestPriceFilter"/>
    </classes>
  </test>
  <test name="6.Filter by Return conditions">
    <classes>
      <class name="com.example.tests.TestReturnFilter"/>
    </classes>
  </test>
  <test name="7.Filter by Condition">
    <classes>
      <class name="com.example.tests.TestNewConditionFilter"/>
    </classes>
  </test>
</suite>